
services:
  apache:
    image: apacheperso  #php:8.2-apache
    container_name: apachePV
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./src:/var/www/html
      - ./openSSL/:/etc/ssl/
    networks:
      - mynet

  mysql:
    image: mysql/mysql-server:8.0
    container_name: mysqlPV
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_ROOT_HOST: '%'
    ports:
      - "3306:3306"
    volumes:
      - ./mysqldata:/var/lib/mysql
    networks:
      - mynet

# Service PhpMyAdmin
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:5
    container_name: phpmyadminPV
    ports:
      - "8080:80"  # Port hôte : Port conteneur
    environment:
      PMA_HOST: mysql  # Hôte de la base de données MySQL
      PMA_PORT: 3306  # Port de la base de données MySQL
    networks:
      - mynet
volumes:
  mysqldata:
    driver: local

networks:
  mynet:

