version: '3.8'

services:
  apache:
    image: httpd:2.4
    container_name: apachePV
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./src:/var/www/html
      - ./.docker/apache/conf:/usr/local/apache2/conf
      - ./ssl:/usr/local/apache2/conf/ssl
    networks:
      - mynet
    depends_on:
      - php

  php:
    image: test_php
    container_name: phpPV
    working_dir: /var/www/html
    volumes:
      - ./src:/var/www/html
    depends_on:
      - mysql
    networks:
      - mynet

  mysql:
    image: mysql/mysql-server:8.0
    container_name: mysqlPV
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_ROOT_HOST: '%'
    ports:
      - "3306:3306"
    volumes:
      - ./mysqldata:/var/lib/mysql
    networks:
      - mynet

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:5
    container_name: phpmyadminPV
    ports:
      - "8080:80"
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
    networks:
      - mynet

volumes:
  mysqldata:
    driver: local

networks:
  mynet:
